#include<iostream.h>
int main()
{
cout<<"    xx"<<endl;
cout<<"   xxxx"<<endl;
cout<<" xx    xx"<<endl;
cout<<"xx      xx"<<endl;
cout<<"xxxxxxxxxx"<<endl;
cout<<"xx      xx"<<endl;
cout<<"xx      xx"<<endl;
cout<<"xx      xx"<<endl;
}
